%% -*-erlang-*-
%% vim:ft=erlang:

%% coveralls.io.
{plugins, [{coveralls,
            {git, "https://github.com/markusn/coveralls-erl",
             {branch, "master"}}}]}.
{cover_enabled, true}.
{cover_print_enabled, true}.
{cover_export_enabled, true}.
{coveralls_coverdata, "_build/test/cover/eunit.coverdata"}.
{coveralls_service_name, "travis-ci"}.
