Source: erlang-yamerl
Section: devel
Priority: optional
Maintainer: Jean-Sébastien Pédron <jean-sebastien.pedron@dumbbell.fr>
Uploaders: Christopher Faulet <christopher@yakaz.com>,
 Jean-Sébastien Pédron <jean-sebastien@yakaz.com>
Build-Depends: debhelper (>= 9),
 dh-autoreconf,
 erlang-base-hipe | erlang-base,
 erlang-tools,
 erlang-eunit,
 erlang-xmerl,
 erlang-dev
Standards-Version: 3.9.4

Package: erlang-yamerl
Architecture: all
Depends: ${misc:Depends}, ${erlang:Depends}
Description: Pure Erlang YAML 1.2 parser
 YAML is a human-friendly, cross language, Unicode based data
 serialization language designed around the common native data types of
 agile programming languages
 .
 yamerl is a pure Erlang application which is able to parse YAML 1.1
 and YAML 1.2 documents, as well as JSON documents. It only depends on
 standard Erlang/OTP applications, no external dependency is required.
 It doesn't use native code either (neither port drivers nor NIFs)
 .
 yamerl is distributed under the terms of the 2-clause BSD license; see
 COPYING.
